#mapid {
  height: 470px;
}

.close-config-enclosure {
  font-size: 25px;
  text-shadow: 2px 2px 3px grey;
  margin-top: 0px;
  margin-right: 0.5em;
  visibility: visible;
  display: block;
}

.map-enclosure {
  display: block;
}

.close-config-enclosure:hover {
  cursor: pointer;
}

.close-button {
  float: right;
}
